section {
  border-radius: 1rem;
  border: solid 2px var(--primaryColor);
}

//.section__body {
//  width: 100%;
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//}

main > section {
  padding: 12px;
}