button {
  cursor: pointer;

  align-self: center;

  padding: 4px 8px;

  color: var(--primary-сolor);

  background-color: transparent;
  background-image: none;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  box-shadow: none;
}

button:hover {
  background-color: rgb(0 0 0 / 8%);
}
