.converter {
  display: flex;
  flex-direction: column;
}

section.converter {
  flex: 1;
}

.currency-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  gap: 1rem;
  flex: 1;

  &__row {
    display: flex;
    gap: 8px;
  }
}

.input__body {
  display: initial;
}

.per-unit {
  font-size: 14px;
  margin-top: 4px;
}