section.costs {
  flex: 2;
  display: flex;
  flex-direction: column;

  @media (max-width: 879.98px) {
    flex: 0;
  }
}

table {
  min-width: 160px;
  text-align: center;
  border-spacing: 10px;

  @media (max-width: 365.98px) {
    min-width: initial;
  }

  @media (max-width: 319.92px) {
    font-size: 14px;
  }
}

.costs-row {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  
  @media (min-width: 880.02px) {
    flex: 1;
    padding: 46px 0 16px 0;
    height: 100%;
    margin-top: -36px;
  }
}

.costs-row > table:last-child {
  border-left: solid 1.5px;
}
