section.costs {
  display: flex;
  flex: 2;
  flex-direction: column;

  @media (width <= 879.98px) {
    flex: 0;
  }
}

table {
  border-spacing: 10px;
  min-width: 160px;
  padding: 0 16px;

  @media (width <= 395.98px) {
    min-width: initial;
    padding: 0;
  }

  @media (width <= 319.92px) {
    font-size: 14px;
  }
}

th {
  text-align: left;
}

td:first-child {
  max-width: 45px;
}

.costs-row {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: center;

  padding: 16px 0;

  @media (width >= 880.02px) {
    flex: 1;
    height: 100%;
    margin-top: -36px;
    padding: 46px 0 16px;
  }
}

.costs-row > table:last-child {
  border-left: solid 1.5px;
}
