input {
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border: var(--input-border);
  padding: 6px 8px;
  border-radius: var(--input-border-radius);
  height: var(--input-height);
}