section {
  padding: 12px;
  border: solid 2px var(--primary-Ñolor);
  border-radius: 1rem;
}

section.hidden {
  flex: 0 !important;
}

.section-bar {
  position: relative;
  display: flex;
  align-items: center;

  & > button {
    position: absolute;
  }

  & > div {
    flex: 1;
  }

  @media (width >= 769px) {
    &.rotate.hidden {
      flex-direction: column;
      height: 100%;

      & > div {
        writing-mode: tb-rl;
      }
    }
  }
}

.hide-svg {
  cursor: pointer;
  position: absolute;

  &_closed {
    cursor: pointer;
    position: absolute;
    transform: rotate(180deg);
  }
}

@media (width >= 769px) {
  .rotate {
    & > .hide-svg {
      transform: rotate(-90deg);
    }

    & > .hide-svg_closed {
      transform: rotate(90deg);
    }
  }
}
