@import "normalize.css/normalize.css";

:root {
  --backgroundColor: #ffffff;
  --primaryColor: #000000;

  --input-border: solid 1.5px var(--primaryColor);
  --input-border-radius: 10px;
  --input-height: 1.5rem;
}

body {
  font-family: "Futura", -apple-system, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  display: grid;
  width: calc(100vw - 3rem);
  min-height: calc(100vh - 3rem);
  gap: 1.5rem;
  padding: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
          "converter history history"
          "costs history history";
}
